/* display */

* {
  font-family: Helvetica, "Helvetica-Neue", Arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: #e6e4d9;
  background-image: url(./img/pattern.png);
}

nav,
main {
  background: white;
  padding: 1em;
  border: 2px solid #23cfa7;
  border-bottom: 5px solid #23cfa7;
  border-radius: 0.5em;
}

header {
  background: #23cfa7;
  height: 80px;
  padding: auto;
}

aside {
  text-align: center;
}

aside img {
  max-width: 100%;
  padding: 0 1em;
}

aside p {
  text-align: center;
}

nav ul {
  list-style: none;
  line-height: 1.5em;
  padding: 0;
}

main h1 {
  font-family: 'Patua One', cursive;
  margin-top: 0.25em;
}

main img {
  max-width: 100%;
}

.cta {
  display: block;
  color: white;
  margin: 1.5em auto;
  font-family: 'Patua One', cursive;
  font-weight: bold;
  width: 15em;
  border-radius: 2em;
  border-bottom: 4px solid black;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  padding: 0.75em;
  background: #23cfa7;
}

body img {
  object-fit: cover;
  max-width: 100%;
  height: 10em;
}

footer {
  text-align: center;
}

a:active,
a:focus {
  outline: 2px solid purple;
  color: white;
  background: purple;
}

.pies {
  background: #23cfa7;
  border-radius: 0.5em;
  padding: 0.5em;
}

.pies img {
  border-radius: 0.25em;
  border: 2px white solid;
}

/* grid */

body {
  display: grid;
  grid: auto-flow min-content / 1fr;
  grid-template-areas:
    "header"
    "aside "
    "nav   "
    "main  "
    "pies  "
    "footer";
  gap: 1em;
  margin: 1em;
}

/* responsive layout */

@media screen and (min-width: 475px) {
  body {
    grid: auto-flow min-content / 2fr 1fr;
    grid-template-areas:
      "header header"
      "aside  nav   "
      "main   main  "
      "pies   pies  "
      "footer footer";
  }
}

@media screen and (min-width: 650px) {
  body {
    grid: auto-flow min-content / 1fr 2fr;
    grid-template-areas:
      "header header"
      "aside  main   "
      "nav    main  "
      "pies   pies  "
      "footer footer";
  }
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main
}

footer {
  grid-area: footer;
}

.pies {
  grid-area: pies;
  display: grid;
  grid: auto-flow max-content / repeat(12, 1fr);
  gap: 0.5em;
}

.pies img {
  grid-column: span 12;
}

/* responsive pies */

@media screen and (min-width: 360px) {
  .pies img {
    grid-column: span 6;
  }
}

@media screen and (min-width: 550px) {
  .pies img {
    grid-column: span 4;
  }
}

@media screen and (min-width: 800px) {
  .pies img {
    grid-column: span 3;
  }
}
