<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Up and Running - CSS Grid</title>
    <link rel="stylesheet" href="./intro.css">
</head>
<body>

header Header
nav Side nav
main Main
  section Intro
  article Cake
  article Cake
  article Cake
aside Aside
footer Footer

</body>
</html>
