/* display */

* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  box-sizing: border-box;
}

html,
body {
  background: #07038C;
  margin: 0;
}

.grid-item,
header,
main,
nav,
aside,
footer {
  background: #044BD9;
  color: white;
  border: 1px solid #377EFF;
}

a {
  color: white;
}

a:active,
:focus {
  outline: 2px solid white;
  background: purple;
}

/* grid */

html,
body {
  height: 100%;
}

body {
  display: grid;

  /* grid-template-columns: 15em auto 15em;
  grid-template-rows: min-content auto min-content; */

  grid: min-content auto min-content / 15em auto 15em;
}

header,
footer {
  grid-column-start: 1;
  grid-column-end: 4;
}
